[project]
	description = RDS for StudCloud project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anton Zuev (AnZuev)
[access "refs/for/refs/*"]
	read = group user/Anton Zuev (AnZuev)
	push = group user/Anton Zuev (AnZuev)
	label-Code-Review = -2..+2 group user/Anton Zuev (AnZuev)
	label-Verified = -1..+1 group user/Anton Zuev (AnZuev)
	rebase = group user/Anton Zuev (AnZuev)
	removeReviewer = group user/Anton Zuev (AnZuev)
	submit = group user/Anton Zuev (AnZuev)
[access "refs/heads/*"]
	read = group user/Anton Zuev (AnZuev)
	create = group user/Anton Zuev (AnZuev)
	push = +force group user/Anton Zuev (AnZuev)
	pushMerge = group user/Anton Zuev (AnZuev)
[access "refs/tags/*"]
	push = +force group user/Anton Zuev (AnZuev)
	createTag = group user/Anton Zuev (AnZuev)
	createSignedTag = group user/Anton Zuev (AnZuev)
